<h1>Sell Item</h1>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field :seller_id, :value=>session[:member_id] %>
	
  </p>
  <p>
    <%= f.label :type_id %><br />
    <%= f.collection_select :type_id, ItemType.all, :id, :itemType, :prompt => "Select ..." %>
  </p>
  <p>
    Title<br />
    <%= f.text_field :itemTitle, :maxlength=>51 %>
  </p>
  <p>
    Description<br />
    <%= f.text_area :itemDescription %>
  </p>
  <p>
    <%= f.label :cost, 'Price' %><br />
    <%= f.text_field :cost, :maxlength=>5%>
  </p>
  <p>
    <%= f.hidden_field :seller, :value=>Member.find(session[:member_id]).username %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>

<%= link_to 'Cancel', items_path %>
