<h1>Editing Sale status</h1>

<% form_for(@sale_status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sale_status %> |
<%= link_to 'Back', sale_statuses_path %>
